.certificate {
  background-color: $color-white;
  background-image: url("../images/bg_certificate.png");
  background-repeat: no-repeat;
  background-size: 46% 100%;

  // .certificate__container
  &__container {

  }

  // .certificate__content
  &__content {
    padding-top: 137px;
    padding-bottom: 107px;
    padding-left: 136px;
    max-width: 789px;
    position: relative;
    background-color: $color-white;
    margin-left: auto;

    &:before {
      content: "";
      width: 226px;
      height: 226px;
      background-image: url("../images/label_certificate.png");
      -webkit-background-size: contain;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 74px;
      left: 0;
      transform: translateX(-50%);
    }
  }

  // .certificate__title
  &__title {
    margin-bottom: 68px;
  }

  // .certificate__text
  &__text {
    &:not(:last-of-type) {
      margin-bottom: 38px;
    }
  }

  &__button-link {
    margin-top: 105px;
  }
}
