.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  transition-property: z-index;
  transition-delay: 0.3s;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: 0.2s;
  }

  @include max-screen(1400px) {
    overflow-x: hidden;
    height: 100%;
  }

  // .header__container
  &__container {
    padding-top: 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include max-screen(1400px) {
      padding-top: 20px;
    }
  }

  // .header__logo
  &__logo {
    display: block;
    max-width: max-content;
    height: 92px;
    margin-right: 20px;
    flex: 1 0 auto;

    @include max-screen(1400px) {
      height: 82px;
    }

    @include max-screen(576px) {
      height: 62px;
    }
  }

  // .header__main-nav
  &__main-nav {

    .main-nav__list {
      margin-right: 40px;

      @include max-screen(1400px) {
        margin-right: 0;
      }
    }
  }

  &__navbar-btn {
    display: none;
    fill: $color-white;

    @include max-screen(1400px) {
      display: block;
    }
  }
}

body.hidden {
  overflow: hidden;

  .header {
    z-index: 2;
    transition: 150ms;

    &:before {
      display: block;
      position: absolute;
      background: $color-black;
      opacity: 0.5;
    }
  }

  .main-nav.show {
    transform: translateX(0);
    transition: 0.3s;

    @include max-screen(576px) {
      width: 100%;
    }
  }
}
