.main-nav {
  display: flex;
  align-items: center;
  margin-top: auto;

  @include max-screen(1400px) {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: space-between;
    background: darkgray;
    padding: 120px 40px;
    overflow: auto;

    @include max-screen(576px) {
      left: 0;
    }

    @include max-screen(360px) {
      padding: 80px 20px;
    }
  }

  // .main-nav__navbar-btn
  .main-nav__navbar-btn {
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;

    @include max-screen(1400px) {
      display: block;
    }
  }

  // .main-nav__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 35px;

    @include max-screen(1400px) {
      flex-direction: column;
      gap: 50px;
      margin-bottom: 100px;
    }
  }

  // .main-nav__link
  &__link {
    font-family: $font-minSans;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.25;
    color: $color-black;
    text-transform: uppercase;

    @include max-screen(1400px) {
      font-size: 24px;
    }
  }

  // .main-nav__contact
  &__contact {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-family: $font-minSans;
    font-weight: 500;
    font-size: 21px;
    line-height: 1.5;
    color: $color-yellow;

    @include max-screen(1400px) {
      font-size: 24px;
      margin: 0 auto;
    }

    @include max-screen(360px) {
      font-size: 20px;
    }

    .icon {
      fill: $color-yellow;
      width: 72px;
      height: 72px;

      @include max-screen(1400px) {
        width: 50px;
        height: 50px;
      }
    }
  }

}

// .navbar-btn
.navbar-btn {
  background-color: transparent;

  // .navbar-btn__icon
  &__toggle {
    width: 50px;
    height: 50px;
  }
}