.products {
  padding: 138px 0 115px;

  @include max-screen(992px) {
    padding: 70px 0;
  }

  @include max-screen(576px) {
    padding: 35px 0;
  }

  // .products__container
  &__container {
  }

  // .products__titile-inner
  &__titile-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 69px;

    @include max-screen(768px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 48px;
    }
  }
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 55px 26px;

  @include max-screen(768px) {
    gap: 40px 20px;
  }

  // .product-list__item-wrapper
  &__item-wrapper {
    width: calc(33% - 13px);

    @include max-screen(1400px) {
      width: calc(33% - 20px);
    }

    @include max-screen(768px) {
      width: calc(50% - 20px);
    }
  }
}

.card {
  max-width: 416px;
  width: 100%;

  &__img {
    margin-bottom: 22px;

    img {
      width: 416px;
      height: auto;
      object-fit: cover;
    }
  }

  // .card__title
  &__title {
    font-family: $font-minSans;
    font-weight: 500;
    @include font(26px, 38px);
    color: $color-green-light;
    @include line-text-hidden(2);
    text-transform: uppercase;

    @include max-screen(992px) {
      font-size: 20px;
    }


  }
}