.why-us {
  padding-top: 132px;
  padding-bottom: 129px;

  // .why-us__container
  &__container {

  }

  // .why-us__title
  &__title {
    margin-bottom: 72px;
  }
}

.why-us-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  .why-us-card--xl {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}
