// body-wrapper для удобства работы с Pixel Perfect !!! УДАЛЯТЬ !!!
//=============================
.body-wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

//=============================

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @include max-screen(1400px) {
    max-width: 1140px;
  }

  @include max-screen(1200px) {
    max-width: 960px;
  }

  @include max-screen(992px) {
    max-width: 720px;
  }

  @include max-screen(768px) {
    max-width: 540px;
  }

  @include max-screen(576px) {
    max-width: 100%;
  }
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @include max-screen(575px) {
    padding: 0 20px;
  }
}

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
}

.icon {
  stroke: currentColor;
  width: 24px;
  height: 24px;
}

//=============================

.button {
  // .button--wight
  min-width: 256px;
  min-height: 72px;
  text-align: center;
  padding: 24px 10px;
  display: inline-block;
  font-family: $font-minSans;
  font-weight: 500;
  @include font(25px, 38px);
  color: $color-green;

  &--wight {
    background-color: $color-white;
  }
}

.title {
  font-family: $font-minSans;
  @include font(80px, 102px);
  font-weight: 400;
  color: $color-green-light;

  // .title--wight
  &--wight {
    color: $color-white;
  }
}

.text {
  font-family: $font-minSans;
  @include font(20px, 38px);
  font-weight: 400;
  color: $color-black-light;


  &--white {
    color: $color-white;
  }
}
