// body-wrapper для удобства работы с Pixel Perfect !!! УДАЛЯТЬ !!!
//=============================
.body-wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

//=============================

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @include max-screen(1400px) {
    max-width: 1140px;
  }

  @include max-screen(1200px) {
    max-width: 960px;
  }

  @include max-screen(992px) {
    max-width: 720px;
  }

  @include max-screen(768px) {
    max-width: 540px;
  }

  @include max-screen(576px) {
    max-width: 100%;
  }
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @include max-screen(575px) {
    padding: 0 20px;
  }
}

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
}

.display-none {
  display: none;
}

.icon {
  stroke: currentColor;
  width: 24px;
  height: 24px;
}

//=============================

.button {
  position: relative;
  min-width: 256px;
  min-height: 72px;
  padding: 24px 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $font-minSans;
  font-weight: 500;
  @include font(25px, 38px);
  color: $color-white;
  background-color: $color-green;

  @include max-screen(992px) {
    padding: 16px 10px;
  }

  @include max-screen(768px) {
    font-size: 22px;
    padding: 14px 10px;
    min-height: 60px;
  }

  // .button--white
  &--white {
    background-color: $color-white;
    color: $color-green;
  }

  &--arrow {
    text-align: start;

    .icon {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);

    }
  }

  // .button--xl
  &--xl {
    min-width: 306px;
    padding: 24px 60px 24px 30px;

    @include max-screen(992px) {
      padding: 18px 40px 18px 18px;
      min-width: 250px;
    }

    @include max-screen(576px) {
      padding: 18px 40px 18px 18px;
      min-width: 200px;
    }
  }

  .icon {
    width: 50px;
    height: 50px;
    fill: $color-white;

    @include max-screen(992px) {
      width: 35px;
      height: 35px;
    }
  }
}

.button-link {
  font-family: $font-minSans;
  font-weight: 700;
  @include font(24px, 32px);
  @include underline-text(4px);
  letter-spacing: 1px;
  color: $color-green;
  text-transform: uppercase;

  @include max-screen(768px) {
    font-size: 20px;
  }

  // .button-link--arrow
  &--arrow-r {
    display: inline-flex;
    align-items: center;

    .icon {
      fill: $color-green;
      width: 44px;
      height: 44px;
      margin-left: 11px;

      @include max-screen(768px) {
        width: 30px;
        height: 30px;
      }
    }
  }

  &--yellow {
    color: $color-yellow;

    .icon {
      fill: $color-yellow;
    }
  }

}

.title {
  font-family: $font-minSans;
  @include font(80px, 102px);
  font-weight: 400;
  color: $color-green-light;

  @include max-screen(992px) {
    font-size: 52px;
  }

  @include max-screen(576px) {
    font-size: 32px;
  }

  //.title--sm
  &--sm {
    font-size: 50px;
  }

  // .title--white
  &--white {
    color: $color-white;
  }
}

.subtitle {
  font-family: $font-minSans;
  font-size: 31px;
  line-height: 2;
  letter-spacing: -0.3px;
  font-weight: 500;
  color: $color-grey;

  @include max-screen(992px) {
    font-size: 24px;
  }

  @include max-screen(576px) {
    font-size: 18px;
  }
}

.text {
  font-family: $font-minSans;
  @include font(20px, 38px);
  font-weight: 400;
  color: $color-black-light;

  @include max-screen(992px) {
    font-size: 18px;
  }

  @include max-screen(576px) {
    font-size: 16px;
  }

  &--white {
    color: $color-white;
  }
}

input,
select,
textarea {
  margin: 0;
  padding: 33px 38px 26px;
  font-family: $font-minSans;
  font-weight: 400;
  @include font(24px, 32px);
  color: $color-black-light;
  width: 100%;
  border: 2px solid white;
  border-radius: 0;
  transition: 0.2s;
  outline: none;

  @include max-screen(768px) {
    padding: 22px 38px 17px;
    font-size: 18px;
  }

  &:focus, &:active, &:focus-visible {
    border: 2px solid $color_green-light;
    border-radius: 0;
    outline: none;
  }

  &:placeholder {
    color: $color-black-light;
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: $color-white;
  background-image: url("../images/arrow-sel.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 46px;
  cursor: pointer;

  &::invalid {
    color: $color-black-light;
  }
}

textarea {
  resize: none;
  min-height: 220px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.field-group {

  // .field-group--50
  &--50 {
    width: calc(50% - 10px);
  }

  // .field-group__input
  &__input {
    -webkit-box-shadow: inset 0 0 0 100px #fff;
    margin: 0;
  }
}

.field-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.field-label {
  font-family: $font-minSans;
  font-size: 16px;
  line-height: 1.25;
  color: $color-black-light;
}

.field-input {

}

.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  font-family: $font-minSans;
  font-weight: 500;
  @include font(22px, 28px);
  color: $color-grey;
  cursor: pointer;

  @include max-screen(992px) {
    font-size: 18px;
  }

  > input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;

    + .checkbox__custom {
      display: inline-block;
      position: relative;
      width: 28px;
      height: 28px;
      background-color: $color-white;
      border-radius: 50%;
      border: 1px solid $color-grey;
      transition: 0.2s;

      &:before {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: transparent;
        transition: 0.2s;
      }
    }

    /* стили при наведении курсора на checkbox */
    &:not(:disabled):not(:checked):hover + .checkbox__custom {

      &:before {
        background-color: $color_mint;
      }
    }

    /* стили для активного чекбокса (при нажатии на него) */
    &:not(:disabled):active + .checkbox__custom::before {
      background-color: $color-mint;
    }

    /* стили для чекбокса, находящегося в фокусе */
    &:focus + .checkbox__custom::before {
      //background-color: $color-white;
    }

    /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
    &:focus:not(:checked) + .checkbox__custom::before {
      //background-color: $color-mint;
    }

    /* стили для чекбокса, находящегося в состоянии checked */
    &:checked + .checkbox__custom::before {
      background-color: $color-green;
    }

    /* стили для чекбокса, находящегося в состоянии disabled */
    &:disabled + .checkbox__custom {
      cursor: not-allowed;

      &:before {
        color: $color-grey;
        background-color: $color-grey;
        cursor: default;
      }
    }
  }

}