// Шрифты
$font-minSans: 'MinSans', sans-serif;

// Цвета

$color-white: #ffffff;
$color-black: #000000;
$color_black-light: #1f1f1f;
$color-grey: #9d9d9d;
$color-yellow: #ffd26f;
$color-green-dark: #324a2c;
$color-green: #477534;
$color_green-light: #67955c;
