.why-us-card {
  padding: 38px 32px 60px 45px;
  background-color: $color-mint;

  @include max-screen(992px) {
    padding: 30px;
  }

  // .why-us-card__label-num
  &__label-num {
    font-family: $font-minSans;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.25;
    color: $color-white;
    display: block;
    text-align: end;
  }

  // .why-us-card__icon
  &__icon {
    display: block;
    width: 120px;
    height: 104px;
    fill: $color_green-light;
    margin-bottom: 50px;

    @include max-screen(576px) {
      width: 90px;
      height: 75px;
      margin-bottom: 25px;
    }
  }

  // .why-us-card__text
  &__text {
    font-size: 18px;
    line-height: 1.5;
  }
}

